@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-serif: var(--font-playfair-serif);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

[data-theme="_light"] {
  --background: hsl(1, 0%, 100%);
  --foreground: hsl(194, 33%, 12%);
  --dark-accent: hsl(194, 33%, 18%);
  --neutral-accent: hsl(194, 33%, 22%);
  --accent: hsl(195, 37%, 40%);
  --strong-accent: hsl(180, 55%, 31%);
  --light-accent: hsl(172, 25%, 55%);
  --ultralight-accent: hsl(172, 25%, 95%);
  --muted-accent: hsl(172, 15%, 35%);
  --grey-accent: hsl(172, 10%, 80%);
  --primary: hsl(129, 22%, 69%);
  --secondary: hsl(95, 32%, 82%);
  --success: hsl(120, 40%, 60%);
  --dark-success: hsl(120, 40%, 50%);
  --alert: hsl(20, 70%, 60%);
}

[data-theme="light"] {
  --background: #ffffff;
  --foreground: #3b2f2f;
  --dark-accent: #6b4c4c;
  --accent: #a0522d;
  --light-accent: #d2b48c;
  --neutral-accent: hsl(30, 53%, 42%);
  --strong-accent: hsl(30, 85%, 41%);
  --ultralight-accent: hsl(30, 45%, 90%);
  --grey-accent: hsl(30, 8%, 60%);
  --muted-accent: hsl(30, 15%, 55%);
  --primary: #deb887;
  --secondary: #f5deb3;
  --success: hsl(120, 40%, 60%);
  --dark-success: hsl(120, 40%, 50%);
  --alert: #ff4500;
}

[data-theme="dark"] {
  @apply text-slate-100;
  --background: #0a0a0a;
  --foreground: #ededed;
  --ultra-accent: hsl(194, 13%, 12%);
  --dark-accent: hsl(194, 33%, 18%);
  --neutral-accent: hsl(194, 33%, 22%);
  --accent: hsl(195, 37%, 40%);
  --strong-accent: hsl(180, 55%, 31%);
  --light-accent: hsl(172, 25%, 55%);
  --ultralight-accent: hsl(30, 15%, 55%);
  --muted-accent: hsl(172, 15%, 55%);
  --grey-accent: hsl(172, 8%, 60%);
  --primary: hsl(129, 22%, 69%);
  --secondary: hsl(95, 32%, 82%);
  --success: hsl(120, 40%, 60%);
  --dark-success: hsl(120, 40%, 50%);
  --alert: hsl(20, 70%, 60%);
  ::selection {
    background: hsl(172, 10%, 18%);
  }
}


[data-theme="_dark"] {
  @apply text-slate-100;
  --background: #0a0a0a;
  --foreground: #ededed;
  --ultra-accent: hsl(194, 13%, 12%);
  --dark-accent: hsl(194, 33%, 18%);
  --neutral-accent: hsl(194, 33%, 22%);
  --accent: hsl(195, 37%, 40%);
  --strong-accent: hsl(180, 55%, 31%);
  --light-accent: hsl(172, 25%, 55%);
  --ultralight-accent: hsl(102, 35%, 90%);
  --muted-accent: hsl(172, 15%, 55%);
  --grey-accent: hsl(172, 8%, 60%);
  --primary: hsl(129, 22%, 69%);
  --secondary: hsl(95, 32%, 82%);
  --success: hsl(120, 40%, 60%);
  --dark-success: hsl(120, 40%, 50%);
  --alert: hsl(20, 70%, 60%);

  ::selection {
    background: hsl(172, 10%, 18%);
  }
}
